.beskin-wrap {
  //헤더
  .header {
    background-color: transparent;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: auto;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f986bd;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover::after {
      opacity: 1;
      z-index: -1;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      max-width: var(--size-pc);
      margin: 0 auto;
      align-items: center;
      padding: 1rem 0;
    }
    &__content {
      // 로고
      display: flex;
      .header__logo {
        margin-right: 4.2rem;
        .header__link {
          &:hover {
            background: url('../../img/baskin/h_logo_white.png') no-repeat;
          }
          .img-box {
            width: 5rem;
            height: 5rem;
          }
        }
      }
      .header__menu {
        display: flex;
        align-items: center;
        .header__list {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
          .header__link {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 20;
            width: 100%;
            height: 100%;
            color: #000;
            font-size: 1.3rem;
            transition: color 0.3s ease;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  //main-kv
  .main-kv {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: url('../../img/baskin/bg_hero.jpg') no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}
